<div>

  <form [formGroup]="workspaceSelect" (ngSubmit)="submitForm()">
    <div class="row">

      <div class="container">
        <div class="form-group" title="Write workspace name">
          <label for="workspace_select_name">Workspace name:</label>
          <input id="workspace_select_name" type="text" autofocus
                 class="form-control"
                 formControlName="workspace_select_name"/>
        </div>

        <div>
          <button type="submit" class="w-50 btn btn-outline-primary" [disabled]="!workspaceSelect.valid">
            GO
          </button>
          <button class="w-50 btn btn-outline-primary" [disabled]="workspaceSelect.valid" (click)="createWorkspace()">
            Create new
          </button>
        </div>

      </div>

    </div>
  </form>

</div>
