<div>
  <div class="row">
    <div class="col-2">
      <div>
        <h4 class="font-weight-bold text-uppercase">Endpoints</h4>
        <form class="form-inline">
          <input class="form-control w-100" type="text" placeholder="Search">
        </form>
      </div>
    </div>
    <div class="col-10">
      <h4 class="font-weight-bold text-uppercase">Fetched requests</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading <span class="badge badge-secondary">New</span></h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home" role="tabpanel">asdfasd..asdfa.</div>
        <div class="tab-pane fade" id="profile" role="tabpanel">asdfasdfasdfasdf</div>
        <div class="tab-pane fade" id="messages" role="tabpanel">asdf</div>
        <div class="tab-pane fade" id="settings" role="tabpanel">asdfasdf</div>
      </div>
    </div>
  </div>
</div>
