<div>
  <div class="row">
    <div class="col-2 col-md-3 px-2">
      <div class="ws-header row mx-1">
        <h4 class="p-0 col-9 font-weight-bold text-uppercase">Endpoints</h4>
        <button type="button" class="col-3 btn btn-primary" (click)="openEndpointModal()">Add</button>
      </div>
      <form class="form-inline">
        <input class="form-control w-100" type="text" placeholder="Search">
      </form>

      <div>
        <app-endpoint-tile *ngFor="let endpoint of endpoints" [endpoint]="endpoint"
                           routerLink="{{endpoint.uuid}}"></app-endpoint-tile>
      </div>
    </div>


    <div class="col-10 col-md-9 px-2">
      <div class="ws-header">
        <h4 class="font-weight-bold text-uppercase">Endpoint detail</h4>
      </div>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>

