<div class="modal-header">
  <h4 class="modal-title">Add new endpoint</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismissForm('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="endpointForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group" title="If not set, the generated UUID will be used" >
        <label for="ep_name">Name:</label>
        <input id="ep_name" type="text" autofocus
               class="form-control"
               formControlName="ep_name"/>
      </div>
      <div class="form-group">
        <label for="ep_desc">Description*:</label>
        <input id="ep_desc" type="text"
               class="form-control"
               formControlName="ep_desc"/>
      </div>
      <div class="form-group">
        <label for="ep_res_code">Response code:</label>
        <input id="ep_res_code" type="number" value="200" min="200" max="550" required
               class="form-control"
               formControlName="ep_res_code"/>
      </div>
      <div class="form-group">
        <label for="ep_res_content">Content type:</label>
        <select class="form-control" id="ep_res_content" formControlName="ep_res_content">
          <option *ngFor="let contentType of contentTypes" [value]="contentType">{{contentType}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ep_res_body">Response body:</label>
        <input id="ep_res_body" type="text"
               class="form-control"
               formControlName="ep_res_body"/>
      </div>
      <div class="form-group">
        <label for="ep_res_delay">Delay:</label>
        <input id="ep_res_delay" type="text" maxlength="4" pattern="^[0-9]*$"
               class="form-control"
               formControlName="ep_res_delay"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="reset" class="btn btn-outline-warning" (click)="dismissForm('Close clicked')">
      Cancel
    </button>
    <button type="submit" class="btn btn-outline-success" [disabled]="!endpointForm.valid">
      Add new
    </button>
  </div>
</form>
